@page "/maintenance/lguprofile/edit/{lguId:int}"
@inject HttpClient http
@inject NavigationManager navmgr

<h3>Edit Lgu</h3>
<LguProfileForm Lgus="@lgumodel" ButtonText="" OnValidSubmit="@EditClient" />

@code {
    [Parameter] public int lguId { get; set; }
    Pegasus.Models.Maintenance.LguProfileModel lgumodel = new Pegasus.Models.Maintenance.LguProfileModel();

    protected async override Task OnParametersSetAsync()
    {
        lgumodel = await http.GetJsonAsync<Pegasus.Models.Maintenance.LguProfileModel>($"https://pegasusapiadmin.azurewebsites.net/api/LguProfile/" +lguId);
    }

    async Task EditClient()
    {
        await http.PutJsonAsync("https://pegasusapiadmin.azurewebsites.net/api/LguProfile", lgumodel);
        navmgr.NavigateTo("/maintenance/lguprofile");
    }
}

