@page "/mapInfoWindow"
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@inject IJSRuntime js
    <h1>Display Google Map</h1>
    <div id="gmap" style="height:500px;width:100%;"></div>

        @code{
            protected override async Task OnAfterRenderAsync(bool firstRender)
            {
                await js.InvokeVoidAsync("initialize", null);
            }
        }
