@page "/"
    <div class="col-12">
        <Radzen.Blazor.RadzenCard>
            <div class="col-4">
                <a href="brgymap">  <Radzen.Blazor.RadzenButton Text="Barangay Map" href="">Barangay Map</Radzen.Blazor.RadzenButton></a>
            </div>
            <div class="col-4">
                <img src="css/images/pegasus logo.PNG" width="300" class="text-center" />
            </div>
        </Radzen.Blazor.RadzenCard>
      
    </div>