@page "/cases/contactedperson/{contactId:int}"
@inject HttpClient http
@inject NavigationManager navmgr


<a class="btn btn-success" href="cases/createcontact/@brgymodel.Id">Add New Contact</a>
<br/><br/>
<h1>Contacted Person</h1>

@if (person == null)
{
    <p><em>Loading...</em></p> }
else
{

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var per in person)
            {
                <tr>

                    <td>@per.Fullname</td>
                    <td>@per.PersonStatus</td>

                </tr>
}
        </tbody>
    </table>}

@code { 

    List<PersonProfilesModel> person = new List<PersonProfilesModel>();

    [Parameter] public int contactId { get; set; }

    PersonProfilesModel brgymodel = new PersonProfilesModel();

    protected async override Task OnParametersSetAsync()
    {
        brgymodel = await http.GetFromJsonAsync<PersonProfilesModel>($"https://localhost:44326/api/Person/" + contactId);
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadContactedPerson();
    }

    async Task LoadContactedPerson()
    {
        person = await http.GetFromJsonAsync<List<PersonProfilesModel>>("https://localhost:44326/api/Contacts/"+ contactId);
    }

    }

