@page "/cases/createcontact/{principalId:int}"

@inject HttpClient http
@inject NavigationManager navmgr

<h3>Add Contacted Person</h3>
<CaseForm Person="@Persons" ButtonText="Create" OnValidSubmit="@CreateCase" />

@code {

    PersonProfilesModel Persons = new PersonProfilesModel();
    [Parameter] public int principalId { get; set; }

    async Task CreateCase()
    {
        Persons.PrincipalPersonId = principalId;

        await http.PutAsJsonAsync("https://localhost:44326/api/Person", Persons);
        navmgr.NavigateTo("/cases/contactedperson/" + principalId);
    }
}